aside {
    width: 320px;
    background: rgba(2, 46, 44, 0.76);
    box-shadow: 0 0 14px 0 rgba(49, 182, 55, 0.705);
    border-radius: 2px;
    padding: 30px 20px;
}

aside strong {
    font-size: 20px;
    text-align: center;
    display: block;
    color: #1ed760;
}

